body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    text-align: center;
}

.container {
    margin: 50px auto;
    width: 80%;
    max-width: 800px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    background-color: #257544;
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.scanner-container {
    margin-bottom: 30px;
}

.qr-code {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
}

.scan-btn {
    background-color: #34a534;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.scan-btn:hover {
    background-color: #1d4b1f;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}

.return-btn {
    background-color: #34a534;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
}

.return-btn:hover {
    background-color:  #1d4b1f;
}

.button-container {
    margin-top: 20px;
}

.back-btn {
    background-color:  #1d4b1f;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-right: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.back-btn:hover {
    background-color: #1d4b1f;
}

.download-btn {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.download-btn:hover {
    background-color: #45a049;
}
