body {
    font-family: 'Montserrat', sans-serif;
    display: grid;
    background-image: url('Artboard5.jpg');
    background-size: cover;
    margin: 0;
    padding: 0;
}

.welcome-container {
    position: relative;
    height: 100vh;
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('back.jpg');
    background-size: cover;
    background-position: center;
    opacity: 0.8;
}

.content-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 500px; /* Set width to 100px */
    height: 500px; /* Set height to 200px */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.welcome-text {
    text-align: center;
    margin-top: 50px;
}

.buttons {
    text-align: center;
    margin-top: 50px;
}

.buttons button {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    width: 200px;
    background: linear-gradient(to right, #004e42, #005246, #376d62);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease; 
    z-index: 1000; /* Smooth transition for background-color */
}

.buttons button:hover {
    background-color: #009688; /* Change background color on hover */
}

.logos {
    display: flex;
    justify-content: center;
    margin-top: 80px;
}

.logos img {
    margin: 0 10px;
    width: 30px;
    height: auto;
}

.profile-icon {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
